@media screen and (min-width: 768px) {
  .container {
    margin-top: 100px;
    width: 450px;
  }
}

#msg {
  margin-top: 5px;
  height: 2em;
  padding-left: 1em;
  padding-top: 5px;
  border-radius: 7px;
  color: red;
  font-weight: bold;
  background-color: rgb(242, 168, 168);
}

body,
html {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #ffd700, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container do card centralizado */
.container {
  height: 100%;
}

/* Card transparente e elegante */
.card {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fundo semi-transparente do card */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos adicionais para inputs e elementos */
img {
  object-fit: cover;
  width: 200px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
}

h1,
label {
  color: #333;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.85) !important;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #ffd700;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.btn-primary {
  background-color: #ffd700;
  border-color: #ffd700;
  color: #000;
}

.btn-primary:hover {
  background-color: #e6c200;
}

a {
  color: #ebc908;
}

a:hover {
  text-decoration: underline;
}
